<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="widget">
      <div class="footer-text">
        <div class="social">
          <h3 style="color: white;">Contato:</h3>
        </div>
        <p>
          Paquita Bath  <br>
          Aligning Visions, S.A.  <br>
          Boquete, Panamá  <br>
        </p>

          <div class="social">
          <ul class="none">
            <li>
              <a href="mailto:paquita@aligningvisions.com" data-toggle="tooltip" data-placement="bottom" title="E-mail"><i class="fa fa-envelope-open-o"></i>
                paquita@aligningvisions.com
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Skype"><i class="fa fa-skype"></i>
                Aligningvisions
              </a>
            </li>
            <li>
              <a href="http://www.aligningvisions.com" data-toggle="tooltip" data-placement="bottom" title="Website"><i class="fa fa-desktop"></i>
                www.aligningvisions.com
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Mobile"><i class="fa fa-mobile"></i>
                 (507) 6533-5550  Cell phone in Panamá.
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Skype Phone"><i class="fa fa-phone"></i>
                (1) 530-214-0565  This is a US based skype phone that leaves messages in my computer. I return calls quickly
              </a>
            </li>

          </ul>


        </div>

        <hr class="invis">

      </div><!-- end footer-text -->
    </div><!-- end widget -->
  </div><!-- end col -->
</div>

