<nav class="navbar navbar-inverse navbar-toggleable-md">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Forest Timemenu" aria-controls="Forest Timemenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center" id="Forest Timemenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link color-green-hover" href="index.html">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-green-hover" href="paquita_bath.html">Paquita Bath</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-green-hover" href="facilitation_and_planning.html">Facilitation and Planning</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-green-hover" href="evaluation.html">Evaluação</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-green-hover" href="capacity_building.html">Capacity Building</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-green-hover" href="publications.html">Publicações</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-green-hover" href="clients.html">Clientes</a>
            </li>
        </ul>
    </div>
</nav>
