<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6 hidden-xs-down">
   <div class="topsocial">
      <a href="index.hml" data-toggle="tooltip" data-placement="bottom" title="English">
        <img src="images/lang/uk_rez.jpg" class="lang-on" alt="">
      </a>
      <a href="es/index.hml" data-toggle="tooltip" data-placement="bottom" title="Español">
        <img src="images/lang/spain_rez.jpg" class="lang-off" alt="">
      </a>
      <a href="pt/index.hml" data-toggle="tooltip" data-placement="bottom" title="Português Br">
        <img src="images/lang/bra_rez.jpg" class="lang-off" alt="">
      </a>
    </div><!-- end social -->
  </div><!-- end col -->

  <div class="col-lg-4 hidden-md-down"></div><!-- end col -->

</div><!-- end row -->
